.circle_one{
    color: #75E169
}

.circle_one_opened{
    color: #67AEFC
}

.circle_two{
    color: #75E169
}

.circle_two_opened{
    color: #67AEFC
}

.circle_three{
    color: #75E169
}

.circle_three_opened{
    color: #67AEFC
}

.circle_four{
    color: #75E169
}

.circle_five{
    color: #75E169
}